# You'll need to set the following in either your environment or in a .env
# file in the root of the project
#
# The values in this file are purely examples to better help understand what it
# is you need to add
#
# The application configuration is read using the Dotenv component
# (see https://www.npmjs.com/package/dotenv)

# The port that the Companies House proxy runs on
PORT=5000

# The Companies House API connection details
COMPANIES_HOUSE_SERVICE_PROTOCOL="https"
COMPANIES_HOUSE_SERVICE_HOST="api.companieshouse.gov.uk"
COMPANIES_HOUSE_API_KEY="API KEY HERE"
COMPANIES_HOUSE_API_PASSWORD="PASSWORD HERE"
